<div class="container mx-auto p-4">
  <button hlmBtn (click)="openCategoryForm()">New Category</button>

  <hlm-table [dataSource]="categories" class="mt-4">
    <ng-container hlmColumnDef="id">
      <hlm-header-cell *hlmHeaderCellDef>No.</hlm-header-cell>
      <hlm-cell *hlmCellDef="let element">{{element.id}}</hlm-cell>
    </ng-container>

    <ng-container hlmColumnDef="name">
      <hlm-header-cell *hlmHeaderCellDef>Name</hlm-header-cell>
      <hlm-cell *hlmCellDef="let element">{{element.name}}</hlm-cell>
    </ng-container>

    <ng-container hlmColumnDef="color">
      <hlm-header-cell *hlmHeaderCellDef>Color</hlm-header-cell>
      <hlm-cell *hlmCellDef="let element">{{element.color}}</hlm-cell>
    </ng-container>

    <ng-container hlmColumnDef="icon">
      <hlm-header-cell *hlmHeaderCellDef>Icon</hlm-header-cell>
      <hlm-cell *hlmCellDef="let element">{{element.icon}}</hlm-cell>
    </ng-container>

    <ng-container hlmColumnDef="actions">
      <hlm-header-cell *hlmHeaderCellDef>Actions</hlm-header-cell>
      <hlm-cell *hlmCellDef="let element">
        <button hlmBtn variant="ghost" (click)="openCategoryForm(element)">
          <hlm-icon name="edit" />
        </button>
        <button hlmBtn variant="ghost" (click)="deleteCategory(element.id)">
          <hlm-icon name="delete" />
        </button>
      </hlm-cell>
    </ng-container>

    <hlm-header-row [displayedColumns]="displayedColumns"></hlm-header-row>
    <hlm-row *hlmRowDef="let row; columns: displayedColumns;"></hlm-row>
  </hlm-table>
</div>